<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="heading clip image">
        Employee Review System | Profile
         </div>
         <div class="heading clip image">
          A CRM webApp
         </div>
         <div class="options">
            <span>Hi, <%=data[0].name%></span>
            <a href="#">Homepage</a>
            <a href="#"><span>Settings</span></a>
            <a href="/logout">Logout</a>
           </div>
           <div class="info_bar">
           <div class="info_bar_picture_container">
             <img src="/images/avatar.png">
           </div>
           <div>
            <h3>Name : <%= data[0].name %></h3>
            <h3>Age : <%= data[0].age %></h3>
            <h3>Email : <%= data[0].email %></h3>
            <h3>Sex : <%= data[0].sex %></h3>
            <h3>Role : <%= data[0].role %></h3>
           </div>
           
           </div>
  
<div class="ReviewsGivenList">
  <div class="ReviewsGivenListHeading">
    <p>Reviews to be given</p>
  </div>
  <% for(var i=0;i<data[0].reviewsToBeGiven.length;i++){%>
     <li><a href="/reviewForm/<%= data[0].reviewsToBeGiven[i] %>"><%= data[0].reviewsToBeGiven[i] %></a></li>
    <% } %>
</div>
    
</body>
</html>