<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="heading clip image">
        Employee Review System | Profile
         </div>
         <div class="heading clip image">
          A CRM webApp
         </div>
         <div class="options">
            <span>Hi, <%=data[0].name%></span>
            <a href="#">Homepage</a>
            <a href="#"><span>Settings</span></a>
            <a href="/logout">Logout</a>
           </div>
           <div class="admin_scroll_container">
            <div class="info_bar_admin">
              <div class="info_bar_picture_container">
                <img src="/images/avatar.png">
              </div>
              <div>
               <h3>Name : <%= data[0].name %></h3>
               <h3>Age : <%= data[0].age %></h3>
               <h3>Email : <%= data[0].email %></h3>
               <h3>Sex : <%= data[0].sex %></h3>
               <h3>Role : <%= data[0].role %></h3>
              </div>
              
              </div>
              <div class="admin_scroll_container_box_heading">List of all employees</div>
              <div class="admin_scroll_container_box">
               
                
                <% for(var i=0;i<people.length;i++){%>
                  <div class="admin_scroll_container_box_items">
                    <div class="admin_scroll_container_box_items_image">
                      <img src="/images/avatar.png">
                    </div>
                    <div class="admin_scroll_container_box_items_info">
                      <p><%=people[i].name%></p>
                    <p><%=people[i].role%></p> 
                    </div>
                    <div class="admin_scroll_container_box_items_info_function">
                      <a href="/profileByAdmin/<%=people[i].name%>">See Profile</a>
                    </div>
                    <div class="admin_scroll_container_box_items_info_function">
                      <a href="/deleteByAdmin/<%=people[i].name%>">Delete Profile</a>
                    </div>
                  </div>
                 
                <% } %>
              </div>
           </div>
          
  
<div>
  <p>Admin Functions</p>
  <div class="profile_admin_addUsers">
   <!-- <div class="register-form">-->
      <form action="/registerByAdmin/create" method="POST" data-multi-step>
         
         
              <span><label for="name">Name:</label></span>
              <input type="text" id="name" name="name" required/>
              
              <span><label for="age">Age:</label></span> 
               <input type="number" id="age" name="age" required/>
   
               
          
          
              <span><label for="email">Email:</label></span> 
              <input type="email" id="email" name="email" required/>
  
           
                 
                  
         
         
              <span><label for="sex">Sex:</label>
                  <input type="radio" id="sexchoice1"
                          name="sex" value="male" >
                          <label for="sexchoice1">Male</label>

                          <input type="radio" id="sexchoice12"
                          name="sex" value="female">
                          <label for="sexchoice2">Female</label></span>
              
                          <span><label for="Role">Role:</label>
                            <input type="radio" id="rolechoice1"
                                    name="role" value="Employee" >
                                    <label for="sexchoice1">Employee</label>
          
                                    <input type="radio" id="rolechoice2"
                                    name="role" value="Admin">
                                    <label for="rolechoice2">Admin</label></span>

                 
                  
       
         
               <span><label for="password">Password:</label></span>
                      <input type="password" id="password" name="password"/> 
                      
                      <span><label for="confirm_password">Confirm Password:</label></span> 
                          <input type="password" id="confirm_password" name="confirm_password" />

                         
                   <input  style="margin-top:3px" type="submit" value="Register"/> 

      </form>
  <!--</div>-->
</div>
   
</body>
</html>