<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="heading clip image">
        Employee Review System | Review Form
         </div>
         <div class="heading clip image">
          A CRM webApp
         </div>
         <div class="options">
            <span>Hi, <%=loggedUser[0].name%></span>
            <a href="/profile">Homepage</a>
            <a href="#"><span>Settings</span></a>
            <a href="/logout">Logout</a>
           </div>
         <p>This review wis for <%= data %></p>
  <form action="/review/result/<%= data %>" method="post">
    <label for="field1">Rate <%= data %> on teamwork :</label>
  <select name="field1" id="field1">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br><br>
  <label for="field2">Rate <%= data %> on trustworthyness :</label>
  <select name="field2" id="field2">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br><br>
  <label for="field3">Rate <%= data %> on Kindness :</label>
  <select name="field3" id="field3">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br><br>
  <label for="field4">Rate <%= data %> on Work-Knowledge :</label>
  <select name="field4" id="field4">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br><br>
  <label for="field5">Rate <%= data %> on his communication with team :</label>
  <select name="field5" id="field5">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br><br>
    <input type="submit" value="Submit"/>
  </form>

    
</body>
</html>